.List {
  color: #000;
  margin: 10px 0px 0px 10px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  width: 300px;
  background-color: #ebecf0;
  border-radius: 3.25px;
  opacity: 90%;
  padding: 6px;
  height: fit-content;
  min-width: 250px;
}
